@font-face {
  font-family: 'Vogue';
  src: url("../fonts/Vogue.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

html {
  scroll-behavior: smooth;
}

html body {
  height: 100%;
}

body {
  font-family: "Roboto Slab", serif;
}

.wrapper {
  min-height: 100%;
}

.backgraund {
  background-image: url("../img/backgraund0.jpeg");
  background-size: cover;
  min-width: 100%;
  min-height: 100%;
}


.container {
  max-width: 1260px;
  margin: 0 auto;
  position: relative;
  color: white;
}

header{
  text-align: center;
  width: 100%;
  padding-top: 50px;
}

h1 {
  color: white;
  font-family: 'Vogue', sans-serif;
  font-size: 200px;
  letter-spacing: 1.3em;
  transform: scale(1, 2);
  width: 100%;
  margin: 0 auto;
}

.logo {
  height: 100%;
  max-width: 600px;
  background-size: contain;
  display: block;
  margin-left: auto;
  margin-right: auto
}


.square{
  display: flex;
  flex-direction: row;
  max-width: 100%;
  height: 100%;
}

.box2 {
  height: 80%;
  width: 100%;
  text-align: center;
}

.box1{
  width: 120%;
}

.tezis{
  display: flex;
  flex-direction: column;
  align-content: space-between;
  justify-content: space-around;
  align-items: start;
  min-height: 100%;
  padding: 10px 0;
}

.tezis p{
  padding-left: 50px;
  line-height: 1;
}


.box3 {
  width: 80%;
  min-height: 100%;
}

.box3 nav {
  min-height: 100%;
  display: flex;
}

.box3 ul {
  display: flex;
  flex-direction: column;
  align-content: space-between;
  justify-content: space-around;
  align-items: end;
  width: 100%;
  padding-right: 50px;
}

.box3 a {
  text-decoration: none;
  color: white;
  font-size: 50px;
  border: 1px white solid;
  border-radius: 15%;
  padding: 10px;
  width: 350px;
  display: block;
  text-align: center;
  transition: .2s linear;
  background: #292D33;
  z-index: 3;
  position: relative;
}


.box3 a:hover{
  box-shadow: #6F6F6F 0 0px 0px 50px inset;
}


.block1{
  font-size: 50px;
  font-weight: 500;
  font-family: 'Vogue', sans-serif;
}

.block2 {
  font-size: 45px;
  font-weight: 900;
}


.block3 {
  display: inline-block;
  transform: scale(1, 2);
  font-size: 40px;
}

.block4 {
  font-size: 65px;
  font-weight: 500;
  font-family: 'Vogue', sans-serif;
}

.blink{
  animation: blink 2s infinite;
}

@keyframes blink {
  from {
    opacity: 1;
    /* Непрозрачный текст */
  }

  to {
    opacity: 0;
    /* Прозрачный текст */
  }
}

footer{
  padding-bottom: 20px;
}

h3 {
  font-size: 50px;
  text-align: center;
  padding-bottom: 20px;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  position: relative;
  top: -19px;
}

h4 {
  font-size: 40px;
  text-align: center;
  padding-bottom: 20px;
  text-transform: uppercase;
  letter-spacing: 0.2em;
}