@font-face {
  font-family: RobotoSlab;
  font-display: swap;
  src: url("../fonts/RobotoSlab-Bold.woff") formar("woff");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: RobotoSlab;
  font-display: swap;
  src: url("../fonts/RobotoSlab-Black.woff") formar("woff");
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: RobotoSlab;
  font-display: swap;
  src: url("../fonts/RobotoSlab-ExtraBold.woff") formar("woff");
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: RobotoSlab;
  font-display: swap;
  src: url("../fonts/RobotoSlab-ExtraLight.woff") formar("woff");
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: RobotoSlab;
  font-display: swap;
  src: url("../fonts/RobotoSlab-Medium.woff") formar("woff");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: RobotoSlab;
  font-display: swap;
  src: url("../fonts/RobotoSlab-Regular.woff") formar("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: RobotoSlab;
  font-display: swap;
  src: url("../fonts/RobotoSlab-Light.woff") formar("woff");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: RobotoSlab;
  font-display: swap;
  src: url("../fonts/RobotoSlab-SemiBold.woff") formar("woff");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: RobotoSlab;
  font-display: swap;
  src: url("../fonts/RobotoSlab-Thin.woff") formar("woff");
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: RobotoSlab;
  font-display: swap;
  src: url("../fonts/RobotoSlab-VariableFont_wght.woff") formar("woff");
  font-weight: 400;
  font-style: normal;
}